* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:not(:root):fullscreen::backdrop {
  position: fixed;
  inset: 0px;
  background:#FFFFFF;
}
.container {
  width: 100%;
  height: auto;
}
.container .header {
  width: 100%;
  height: 60px;
  background: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 32px;
}
.container .header .menu-left .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: aliceblue;
}
.container .header .menu-right button {
  color: white;
  font-size: 17px;
  padding-left: 10px;
  border: none;
  background: none;
  cursor: pointer;
}
.container .header .menu-right #menu {
  display: none;
}
.menu-popup{
    display: none;
}
.box-user {
  display: none;
  padding: 1rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  width: 210px;
  position: absolute;
  top: 50px;
  right: 100px;
  border-radius: 3px;
}
.box-user .icon-user {
  text-align: center;
}
.box-user .icon-user i {
  font-size: 45px;
  color: forestgreen;
}
.box-user .icon-user .title-user {
  color: forestgreen;
  font-size: 28px;
  padding-bottom: 5px;
}
.list-menu ul {
  list-style-type: none;
  flex-direction: column;
  overflow: hidden;
}
.list-menu ul li {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.list-menu button {
  border: none;
  text-align: left;
  padding: 7px;
  font-size: 15px;
}
.list-menu button:hover {
  color: green;
}
.list-menu ul i {
  padding-right: 8px;
  font-size: 12px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 194px;
}
.dropdown-content .language {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown-content button {
  border: none;
  padding: 10px;
}
.dropdown:hover .dropdown-content {
  display: inline-block;
}
#icon-menu {
  display: none;
}
/* contant */
.container .contant {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 2rem;
}
.container .contant .group-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;

}
.container .contant .group-item .item {
  text-align: center;
  padding: 3rem 2rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  border-radius: 10px;
}
.container .contant .group-item .item:hover{
  border:2px solid green;
  /* transition:1s; */
}
.container .contant .group-item .item h4 {
  color: green;
}

/* S8server */
#modal_s8server {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}
#modal_s8server .modal {
  position: absolute;
  top: 200px;
  background: #ffff;
  padding: 10px 0px 15px 0px;
  border-radius: 10px;
  width: 450px;
  text-align: center;
}
#modal_s8server .modal .top-form {
  padding: 0px 22px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  cursor: pointer;
  color: #90949c;
}
/* .top-form .close-modal h3{
  color: #90949c;
} */
.top-form .close-modal {
  cursor: pointer;
  font-size: 20px;
 
}
.login-form {
  position: relative;
}
.login-form form input {
  width: 90%;
  margin-bottom: 20px;
  padding: 10px 30px;
  box-sizing: border-box;
  border: 1px solid #d0d5d8;
  border-radius: 3px;
  font-size: 19px;
}
#modal_s8server .modal .login-form .globe i {
  position: absolute;
  top: 18px;
  left: 32px;
  color: #90949c;
  font-size: 15px;
}
#modal_s8server .modal .login-form .database i {
  position: absolute;
  top: 86px;
  left: 32px;
  color: #90949c;
  font-size: 15px;
}
.login-form button {
  float: right;
  padding: 10px 15px;
  width: 15%;
  background-color:gray;
  border: 0;
  border-radius: 3px;
  margin: 5px 22px;
  color: white;
}
.login-form button:hover{
  background: rgb(89, 87, 87);
}
/* edit profile */
#modal_editprofile {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
#modal_editprofile .modal {
  background: #ffff;
  padding: 10px 0px 20px 0;
  border-radius: 10px;
  width: 400px;
  color: gray;
}
#modal_editprofile .modal .top_form {
  display: flex;
  justify-content: space-between;
  padding: 7px 15px;
  margin-bottom: 15px;
  cursor: pointer;
}
#modal_editprofile .modal .edit_form {
  text-align: center;
}
#modal_editprofile .modal .edit_form .form_item {
  text-align: start;
  padding: 15px;
  position: relative;
}
#modal_editprofile .modal .edit_form .profile img {
  width: 230px;
  height: 140px;
}
#modal_editprofile .modal .edit_form span {
  color: red;
}
#modal_editprofile .modal .edit_form input {
  width: 100%;
  margin: 7px 0px;
  padding: 10px 12px;
  box-sizing: border-box;
  border: 1px solid #d0d5d8;
  border-radius: 3px;
}
#modal_editprofile .modal .edit_form .form_item .icon-show-password {
  position: absolute;
  top: 127px;
  right: 22px;
  font-size: 13px;
}
#modal_editprofile .modal .edit_form .footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}
#modal_editprofile .modal .edit_form .footer button {
  padding: 10px 20px;
}
#modal_editprofile .modal .edit_form .footer button.btn-save {
  background: green;
  border-radius: 3px;
  border: none;
  color: white;
}
#modal_editprofile .modal .edit_form .footer button.btn-save:hover {
  background: rgb(11, 152, 11);
}
#modal_editprofile .modal .edit_form .footer button.btn-cancel {
  background: gray;
  border-radius: 3px;
  border: none;
  color: white;
}
#modal_editprofile .modal .edit_form .footer button.btn-cancel:hover {
  background: rgb(88, 88, 88);
}
/* change password */
#modal_changePw {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}
#modal_changePw .modal_change {
  background: #fff;
  padding: 10px 0px 20px 0;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  color: gray;
}
#modal_changePw .modal_change .top_form {
  display: flex;
  justify-content: space-between;
  padding: 7px 15px;
  margin-bottom: 20px;
  cursor: pointer;
}
#modal_changePw .modal_change .change_form .profile img {
  width: 250px;
  height: 150px;
}
#modal_changePw .modal_change .form-item {
  margin: 15px;
  position: relative;
  text-align: start;
}
#modal_changePw .modal_change .form-item span {
  color:rgb(110, 106, 106);
}
#modal_changePw .modal_change .form-item input {
  width: 100%;
  margin: 7px 0px;
  padding: 10px 12px;
  box-sizing: border-box;
  border: 1px solid #d0d5d8;
  border-radius: 3px;
}
#modal_changePw .modal_change .form-item .icon-show-password {
  position: absolute;
  top: 113px;
  right: 10px;
  font-size: 13px;
}
#modal_changePw .modal_change .form-item .icon-show-password2 {
  position: absolute;
  top: 186px;
  right: 10px;
  font-size: 13px;
}
#modal_changePw .modal_change .form-item .icon-show-password3 {
  position: absolute;
  top: 261px;
  right: 10px;
  font-size: 13px;
}
#modal_changePw .modal_change .footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}
#modal_changePw .modal_change .footer button {
  padding: 10px 20px;
}
#modal_changePw .modal_change .footer button.btn-save {
  background: green;
  border-radius: 3px;
  border: none;
  color: white;
}
#modal_changePw .modal_change .footer button.btn-save:hover {
  background: rgb(11, 152, 11);
}
#modal_changePw .modal_change .footer button.btn-cancel {
  background: gray;
  border-radius: 3px;
  border: none;
  color: white;
}
#modal_changePw .modal_change .footer button.btn-cancel:hover {
  background: rgb(90, 90, 90);
}
@media screen and (max-width:400px) {
  #icon-menu {
    display: block;
  }
  .container .header {
    width: 100%;
    height: 60px;
    background: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
  }
  .container .header .menu-left .logo h2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
  }
  .menu-popup{
    display: none;
    width: 200px;
    background: red;

  }
  .menu-popup .box-popu{
    margin-top: 0px;
    width: 100%;
    position: absolute;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .menu-popup .box-popu button{
    padding: 10px;
    background:none;
    border: none;
  }
  .menu-popup .box-popu button:hover{
    color: green;
  }
  .box-user {
    display: none;
    padding: 1rem;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 210px;
    position: absolute;
    top: 200px;
    left:90px;
    border-radius: 3px;
  }
  #modal_s8server .modal {
    position: absolute;
    top: 100px;
    background: #e6ecf0;
    padding: 5px 0px 10px 0;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }
  #modal_s8server .modal .top-form {
    padding: 5px 11px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    cursor: pointer;
    font-size: 15px;
  }
  .top-form .close-modal {
    cursor: pointer;
    font-size: 15px;
  }
  .login-form {
    position: relative;
  }
  .login-form form input {
    width: 94%;
    margin-bottom: 16px;
    padding: 5px 30px;
    box-sizing: border-box;
    border: 1px solid #d0d5d8;
    border-radius: 3px;
    font-size: 15px;
  }
  #modal_s8server .modal .login-form .globe i {
    position: absolute;
    top: 10px;
    left: 22px;
    color: #90949c;
    font-size: 13px;
  }
  #modal_s8server .modal .login-form .database i {
    position: absolute;
    top: 58px;
    left: 22px;
    color: #90949c;
    font-size: 13px;
  }
  .login-form button {
    float: right;
    padding: 7px 15px;
    width: 23%;
    background-color: gray;
    border: 0;
    border-radius: 3px;
    margin: 1px 11px;
    color: white;
  }
  /* edit profile */
#modal_editprofile {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
#modal_editprofile .modal {
  background: #e6ecf0;
  padding: 10px 0px 13px 0;
  border-radius: 10px;
  width: 300px;
}
#modal_editprofile .modal .top_form {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
#modal_editprofile .modal .edit_form {
  text-align: center;
}
#modal_editprofile .modal .edit_form .form_item {
  text-align: start;
  padding: 10px;
  position: relative;
}
#modal_editprofile .modal .edit_form .profile img {
  width: 147px;
  height: 90px;
}
#modal_editprofile .modal .edit_form span {
  color: red;
}
#modal_editprofile .modal .edit_form input {
  width: 100%;
  margin: 5px 0px;
  padding: 7px 10px;
  box-sizing: border-box;
  border: 1px solid #d0d5d8;
  border-radius: 3px;
}
#modal_editprofile .modal .edit_form .form_item .icon-show-password {
  position: absolute;
    top: 107px;
    right: 20px;
    font-size: 13px;
}
#modal_editprofile .modal .edit_form .footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
#modal_editprofile .modal .edit_form .footer button {
  padding: 5px 10px;
}
#modal_editprofile .modal .edit_form .footer button.btn-save:hover {
  background: rgb(11, 152, 11);
}
#modal_editprofile .modal .edit_form .footer button.btn-cancel {
  background: rgb(232, 43, 43);
  border-radius: 3px;
  border: none;
  color: white;
}
#modal_editprofile .modal .edit_form .footer button.btn-cancel:hover {
  background: red;
}
/* change-profile */
#modal_changePw {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}
#modal_changePw .modal_change {
  background: #e6ecf0;
  padding: 10px 0px 13px 0;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}
#modal_changePw .modal_change .top_form {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  margin-bottom: 18px;
  cursor: pointer;
}
#modal_changePw .modal_change .change_form .profile img {
  width: 147px;
  height: 90px;
}
#modal_changePw .modal_change .form-item {
  margin: 15px;
  position: relative;
  text-align: start;
}
#modal_changePw .modal_change .form-item span {
  color: red;
}
#modal_changePw .modal_change .form-item input {
  width: 100%;
  margin: 5px 0px;
  padding: 7px 10px;
  box-sizing: border-box;
  border: 1px solid #d0d5d8;
  border-radius: 3px;
}
#modal_changePw .modal_change .form-item .icon-show-password {
  position: absolute;
  top: 97px;
  right: 10px;
  font-size: 13px;
}
#modal_changePw .modal_change .form-item .icon-show-password2 {
  position: absolute;
  top: 162px;
  right: 10px;
  font-size: 13px;
}
#modal_changePw .modal_change .form-item .icon-show-password3 {
  position: absolute;
  top: 225px;
  right: 10px;
  font-size: 13px;
}
#modal_changePw .modal_change .footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}
#modal_changePw .modal_change .footer button {
  padding: 5px 10px;
}
#modal_changePw .modal_change .footer button.btn-save {
  background: rgb(28, 187, 28);
  border-radius: 3px;
  border: none;
  color: white;
}
#modal_changePw .modal_change .footer button.btn-save:hover {
  background: rgb(11, 152, 11);
}
#modal_changePw .modal_change .footer button.btn-cancel {
  background: rgb(232, 43, 43);
  border-radius: 3px;
  border: none;
  color: white;
}
#modal_changePw .modal_change .footer button.btn-cancel:hover {
  background: red;
}
}
@media screen and (max-width: 768px) {

    #icon-menu {
        display: block;
        color: #FFFFFF;
    }
    #icon-menu:hover{
        cursor: pointer;
    }
  .container .header {
    width: 100%;
    height: 60px;
    background: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 32px;
  }
  .container .header .menu-left .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: aliceblue;
    font-size: 14px;
  }
  .container .header .menu-right button {
    display: none;
  }
  .menu-popup{
    display: none;
    width: 200px;
    background: red;

  }
  .menu-popup .box-popu{
    margin-top: 0px;
    width: 100%;
    position: absolute;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .menu-popup .box-popu button{
    padding: 10px;
    background:none;
    border: none;
  }
  .menu-popup .box-popu button:hover{
    color: green;
  }
  .box-user {
    display: none;
    padding: 1rem;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 210px;
    position: absolute;
    top: 180px;
    right: 230px;
    border-radius: 3px;
  }

}
@media screen and (min-width: 769px){
    .menu-popup .box-popu button{
        display: none;
    }
}
